@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

body{
	background-color: #F4F4F4;
}

#logo img{
	max-width: 300px;
}

#logo h2{
	color: #EB6864;
	font-size: 16px;
	margin: 0;
	margin-top: 5px;
	font-style: italic;
}

#user h4{
	margin: 0;
	margin-top: 10px;
	font-size: 18px;
}

#user a{
	font-size: 14px;
}

.bg{
	background-image: url('../img/bg.jpg');
}

#search-etc{
	margin-top: 20px;
	margin-bottom: 20px;
}

.img-book{
	border: 7px #EB6864 solid;
}

#content{
	margin-top: 20px;
}

h2 strong{
	color: #EB6864;
}

.quote h3{
	margin-top: 0;
	margin-bottom: 35px;
}

.well, em, .btn {
  font-family: "Roboto Slab", "Arial Narrow Bold", sans-serif;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
  color: black;
  text-decoration: none;
}

.small a{
color: #4b4b4b;
}

.no-underline a{
	text-decoration: none;
}

.footer-holder{
	background-color: #F4F4F4;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #6C6C6C;
	border-top: 1px #DADADA solid;
}

.footer-holder h6{
	margin-bottom: 5px;
	margin-top: 0px;
}

.white-bg{
	background-color: #fff;
	padding-bottom: 100px;
	padding-top: 30px;
}

.black-link a:link, .black-link a:visited{
	color: black;
}

.black-link a:hover, .black-link a:active{
	color: #EB6864;
}